
<div class="instructions">
  <section id="how" class="in">
    <h1>How to take part</h1>
    <p class="lead">Please read the following instructions carefully</p>
    <div class="row">
      <div class="six columns">
        <p>This is an experiment to test the readability of various coding patterns.</p>
        <p>We are going to show you a series of code snippets, and ask you to read them until 
          you feel you understand what the code does.</p>
        <p>After reading each snippet, we will ask you a to answer a question about the result of running the code.</p>
        
      </div>
      <div class="six columns">
        <p>Here is an example:</p>
        <pre><code class='language-javascript' lang='javascript'><!--
-->function getResult(value) {
  if (value &lt; 10) {
    return 'yes';
  } else {
    return 'no';
  }
}

var result = getResult(3);<!--
    --></code></pre>
      </div>
    </div>
    <div class="panel-row">
      <div class="panel panel-full">
        <p>For the code snippet above, we would ask you to predict the correct value for the variable <code>result</code> from the following options:</p>
        <ul class="answer-list">
          <li><code>'yes'</code></li>
          <li><code>'no'</code></li>
          <li><code>null</code></li>
        </ul>
        <p>Once you have selected the option you think is correct, we will then show you another snippet.</p>
        <p>There are <strong>11</strong> experiments in total, where each has a series of six snippets. You can do as few or as many experiments as you like, and you can stop and carry on later if you need to.</p>
        <p>The more snippets you manage to do, the better our results will be.</p>
      </div>
    </div>
    <p class="text-right">
      <button class="button nav" data-target="tips">
        Next
      </button>
    </p>
  </section>
  <section id="tips">
    <h3>Tips for taking part</h3>
    <div class="panel-row time">
      <div class="panel panel-img">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0, 0, 80.026, 76.692">
          <g id="Layer_1" transform="translate(-49.415, -213.125)">
            <path d="M82.76,239.801 L76.174,239.801 C80.834,234.314 87.39,230.783 94.614,229.984 L96.097,229.819 L96.097,224.796 L92.763,224.796 L92.763,226.869 C84.38,228.198 76.936,232.854 71.984,239.801 L57.752,239.801 L57.752,243.135 L82.76,243.135 z"/>
            <path d="M77.758,253.138 L69.868,253.138 C70.235,251.073 70.827,249.055 71.646,247.118 L68.575,245.819 C67.582,248.167 66.898,250.624 66.499,253.138 L49.415,253.138 L49.415,256.472 L77.758,256.472 z"/>
            <path d="M79.425,266.476 L70.686,266.476 C70.011,264.286 69.59,262.02 69.464,259.717 L66.136,259.899 C66.258,262.13 66.613,264.333 67.196,266.476 L54.417,266.476 L54.417,269.81 L79.425,269.81 z"/>
            <path d="M96.097,219.794 L91.096,219.794 L91.096,216.46 L104.433,216.46 L104.433,219.794 L99.431,219.794 L99.431,223.128 L107.767,223.128 L107.767,213.125 L87.761,213.125 L87.761,223.128 L96.097,223.128 z"/>
            <path d="M120.498,236.096 L123.605,232.989 L124.928,234.311 L127.285,231.953 L122.284,226.951 L119.926,229.309 L121.248,230.631 L118.064,233.815 C113.799,230.255 108.568,227.785 102.766,226.867 L102.766,224.796 L99.431,224.796 L99.431,229.819 L100.915,229.983 C115.276,231.572 126.106,243.677 126.106,258.14 C126.106,273.768 113.393,286.482 97.764,286.482 L71.089,286.482 L71.089,289.817 L97.764,289.817 C115.23,289.817 129.441,275.606 129.441,258.14 C129.441,249.604 126.048,241.82 120.498,236.096"/>
            <path d="M78.409,283.216 L80.448,280.579 C77.502,278.302 75.068,275.519 73.211,272.305 L70.322,273.974 C72.4,277.565 75.119,280.674 78.409,283.216"/>
            <path d="M97.765,261.474 C95.927,261.474 94.431,259.978 94.431,258.14 C94.431,256.301 95.927,254.805 97.765,254.805 C99.603,254.805 101.099,256.301 101.099,258.14 C101.099,259.978 99.603,261.474 97.765,261.474 M101.131,252.415 C100.14,251.83 98.998,251.471 97.765,251.471 C94.087,251.471 91.096,254.462 91.096,258.14 C91.096,261.817 94.087,264.808 97.765,264.808 C101.443,264.808 104.434,261.817 104.434,258.14 C104.434,256.907 104.075,255.765 103.489,254.773 L115.616,242.646 L113.258,240.288 z"/>
            <path d="M97.765,279.813 L91.096,279.813 L91.096,283.147 L97.765,283.147 C111.555,283.147 122.773,271.929 122.773,258.14 C122.773,253.742 121.615,249.417 119.426,245.633 L116.54,247.304 C118.435,250.581 119.438,254.328 119.438,258.14 C119.438,270.091 109.715,279.813 97.765,279.813"/>
          </g>
        </svg>
      </div>
      <div class="panel">
        <h5>Time is of the essence</h5>
        <p>As part of the experiment, we will be measuring the amount of time you read each snippet before answering the question.</p>
        <p>There is no need to rush, but please try to answer the question as soon as you are confident that you understand what the code does.</p>
      </div>
    </div>
    <div class="panel-row smell">
      <div class="panel">
        <h5>Sorry about the smell</h5>
        <p>Some of the code you see will <strong>smell bad</strong>. The snippets are designed specifically for the experiment and will not necessarily follow good coding patterns or be particularly readable.</p>
        <p>You may find some of the code offensive or confusing. Please hold your nose and do your best to answer the question.</p>
      </div>
      <div class="panel panel-img">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0, 0, 72.766, 79.087">
          <g id="Layer_1" transform="translate(-177.062, -212.602)">
            <path d="M244.545,248.924 C244.145,253.559 243.162,258.12 241.915,261.125 C240.885,263.608 239.606,265.725 238.244,267.62 L208.712,269.967 L207.021,257.086 L220.173,251.302 C220.42,251.819 220.895,252.218 221.498,252.342 C221.761,252.396 222.023,252.391 222.27,252.339 C222.983,252.187 223.573,251.63 223.729,250.87 L224.542,246.91 C224.748,245.904 225.339,245.048 226.206,244.499 C227.074,243.95 228.1,243.782 229.097,244.026 C230.778,244.437 231.952,245.932 231.952,247.662 L231.952,251.372 C231.952,254.352 230.158,256.978 227.382,258.063 C226.561,258.383 225.616,258.079 225.136,257.34 C224.698,256.664 223.901,256.363 223.158,256.521 C222.938,256.567 222.723,256.652 222.523,256.782 C221.647,257.35 221.397,258.52 221.965,259.396 C223.028,261.035 224.845,261.967 226.717,261.967 C227.401,261.967 228.093,261.843 228.757,261.583 C230.821,260.777 232.572,259.384 233.821,257.555 C235.071,255.725 235.731,253.587 235.731,251.372 L235.731,247.662 C235.731,246.625 235.52,245.631 235.136,244.723 L244.534,240.59 C244.803,243.007 244.811,245.845 244.545,248.924 M194.127,277.845 C188.801,276.496 184.494,272.832 182.31,267.792 C180.125,262.752 180.395,257.103 183.051,252.295 L185.065,248.648 L203.224,257.196 L205.092,271.429 L198.862,279.045 z M192.463,237.026 C192.215,236.116 191.907,234.985 192.003,234.465 C192.919,229.477 195.894,224.883 200.379,221.528 C204.816,218.209 210.297,216.382 215.816,216.382 C222.077,216.382 228.022,218.28 233.006,221.872 C237.986,225.461 241.677,230.501 243.68,236.445 C243.717,236.557 243.754,236.672 243.79,236.788 L232.734,241.65 C231.938,241.051 231.013,240.603 229.995,240.354 C227.991,239.864 225.928,240.202 224.185,241.306 C222.442,242.409 221.253,244.13 220.839,246.15 L220.674,246.953 L204.989,253.85 L190.137,246.859 C192.562,242.939 192.794,242.142 192.902,241.77 C193.343,240.25 192.896,238.611 192.463,237.026 M248.133,239.007 L248.699,238.758 C249.654,238.339 250.088,237.223 249.668,236.268 C249.261,235.343 248.204,234.909 247.27,235.263 C247.267,235.255 247.264,235.247 247.262,235.239 C245.005,228.541 240.839,222.859 235.216,218.806 C229.584,214.747 222.876,212.602 215.816,212.602 C209.487,212.602 203.201,214.697 198.115,218.501 C192.865,222.428 189.374,227.855 188.285,233.781 C188.033,235.149 188.432,236.609 188.817,238.021 C189.07,238.948 189.417,240.218 189.274,240.711 C189.103,241.252 188.083,243.004 186.692,245.237 L185.071,244.474 C184.17,244.05 183.094,244.398 182.612,245.27 L179.742,250.467 C176.516,256.309 176.187,263.172 178.841,269.295 C181.496,275.418 186.729,279.87 193.198,281.509 L199.099,283.004 C199.253,283.043 199.409,283.062 199.564,283.062 C200.122,283.062 200.662,282.814 201.026,282.369 L202.659,280.373 L203.688,280.736 C204.882,281.156 205.685,282.29 205.685,283.557 L205.685,289.799 C205.685,290.843 206.531,291.689 207.575,291.689 C208.619,291.689 209.465,290.843 209.465,289.799 L209.465,283.557 C209.465,280.781 207.762,278.288 205.2,277.267 L208.025,273.814 L235.059,271.665 C232.834,274.601 231.616,278.196 231.616,281.881 L231.616,289.799 C231.616,290.843 232.462,291.689 233.506,291.689 C234.55,291.689 235.396,290.843 235.396,289.799 L235.396,281.881 C235.396,278.804 236.491,275.805 238.479,273.437 C239.067,272.735 239.661,272.01 240.248,271.253 L243.181,271.019 C244.222,270.937 244.998,270.026 244.916,268.986 C244.837,267.994 244.006,267.245 243.028,267.247 C243.89,265.828 244.696,264.284 245.406,262.574 C246.793,259.23 247.879,254.249 248.311,249.249 C248.638,245.455 248.572,241.946 248.133,239.007"/>
            <path d="M197.541,246.655 C198.99,246.655 200.168,245.477 200.168,244.028 C200.168,242.579 198.99,241.401 197.541,241.401 C196.092,241.401 194.914,242.579 194.914,244.028 C194.914,245.477 196.092,246.655 197.541,246.655"/>
          </g>
        </svg>
      </div>
    </div>
    <div class="panel-row tricks">
      <div class="panel panel-img">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0, 0, 73.257, 75.017">
          <g id="Layer_1" transform="translate(-286.981, -216.239)">
            <path d="M354.57,259.915 L350.471,262.156 C350.234,262.287 350.037,262.483 349.907,262.721 L347.666,266.819 L345.424,262.721 C345.294,262.483 345.098,262.287 344.86,262.156 L340.761,259.915 L344.86,257.674 C345.098,257.544 345.294,257.348 345.424,257.11 L347.666,253.011 L349.907,257.11 C350.037,257.348 350.234,257.544 350.471,257.674 z M352.199,255.382 L348.912,249.369 C348.414,248.459 346.918,248.459 346.42,249.369 L343.132,255.382 L337.12,258.669 C336.665,258.918 336.382,259.396 336.382,259.915 C336.382,260.435 336.665,260.913 337.12,261.161 L343.132,264.449 L346.42,270.461 C346.669,270.916 347.146,271.2 347.666,271.2 C348.185,271.2 348.663,270.916 348.912,270.461 L352.199,264.449 L356.563,262.062 C355.139,268.373 351.954,274.023 347.54,278.456 L327.404,258.32 L337.341,248.109 C338.134,247.293 338.564,246.218 338.548,245.079 C338.531,243.941 338.073,242.878 337.258,242.084 L336.113,240.971 C334.481,239.382 331.676,239.422 330.09,241.053 L320.249,251.165 L299.78,230.697 C305.023,225.476 311.968,221.969 319.697,221.072 L318.68,222.934 L312.667,226.221 C312.213,226.47 311.929,226.948 311.929,227.467 C311.929,227.986 312.213,228.464 312.667,228.713 L318.68,232 L321.967,238.013 C322.216,238.468 322.694,238.751 323.213,238.751 C323.733,238.751 324.21,238.468 324.459,238.013 L327.747,232 L333.759,228.713 C334.214,228.464 334.498,227.986 334.498,227.467 C334.498,226.948 334.214,226.47 333.759,226.221 L327.747,222.934 L326.681,220.984 C333.671,221.618 340.054,224.383 345.168,228.632 L344.377,230.078 L340.095,232.419 C339.64,232.668 339.357,233.146 339.357,233.665 C339.357,234.185 339.64,234.663 340.095,234.912 L344.377,237.253 L346.718,241.535 C346.967,241.99 347.445,242.273 347.965,242.273 C348.484,242.273 348.962,241.99 349.211,241.535 L351.552,237.253 L352.317,236.835 C355.533,242.006 357.398,248.102 357.398,254.627 C357.398,255.808 357.336,256.975 357.217,258.125 z M323.61,288.415 C316.365,288.415 309.653,286.116 304.145,282.22 L325.423,260.355 L345.447,280.38 C339.553,285.386 331.93,288.415 323.61,288.415 M325.287,250.06 L332.125,243.033 C332.395,242.756 332.757,242.603 333.143,242.603 C333.514,242.603 333.866,242.746 334.133,243.006 L335.278,244.12 C335.549,244.385 335.703,244.74 335.707,245.119 C335.713,245.498 335.57,245.856 335.305,246.128 L328.468,253.155 z M301.881,280.475 L300.045,282.362 C299.993,282.415 299.923,282.44 299.864,282.483 C299.322,282.88 298.528,282.867 298.036,282.39 L296.89,281.275 C296.619,281.011 296.467,280.657 296.461,280.277 C296.458,279.983 296.567,279.714 296.729,279.475 C296.776,279.406 296.805,279.328 296.864,279.267 L298.676,277.405 L320.276,255.209 L322.257,253.173 L323.306,252.095 L326.487,255.19 L325.395,256.311 L323.415,258.347 z M289.821,254.627 C289.821,246.306 292.85,238.684 297.857,232.789 L318.268,253.201 L296.845,275.215 C292.446,269.51 289.821,262.371 289.821,254.627 M320.972,224.662 L323.055,220.852 L323.213,220.563 L323.367,220.845 L325.454,224.662 C325.585,224.899 325.781,225.096 326.019,225.226 L330.117,227.467 L326.019,229.708 C325.781,229.838 325.585,230.035 325.454,230.272 L323.213,234.371 L320.972,230.272 C320.841,230.035 320.646,229.838 320.408,229.708 L316.309,227.467 L320.408,225.226 C320.646,225.096 320.841,224.899 320.972,224.662 M346.669,231.806 L347.331,230.595 L347.965,229.437 L349.26,231.806 C349.39,232.043 349.587,232.24 349.824,232.37 L352.193,233.665 L350.713,234.475 L349.824,234.96 C349.587,235.091 349.39,235.287 349.26,235.525 L347.965,237.894 L346.669,235.525 C346.539,235.287 346.343,235.091 346.105,234.96 L343.737,233.665 L346.105,232.37 C346.343,232.24 346.539,232.043 346.669,231.806 M354.813,235.47 L355.834,234.912 C356.29,234.663 356.572,234.185 356.572,233.665 C356.572,233.146 356.29,232.668 355.834,232.419 L351.552,230.078 L349.211,225.796 C348.713,224.885 347.216,224.885 346.718,225.796 L346.551,226.102 C340.622,221.324 333.181,218.355 325.069,218.036 L324.459,216.921 C323.961,216.012 322.465,216.012 321.967,216.921 L321.336,218.076 C302.195,219.255 286.981,235.194 286.981,254.627 C286.981,263.169 289.928,271.03 294.847,277.267 L294.829,277.286 C294.035,278.102 293.606,279.178 293.622,280.315 C293.637,281.454 294.094,282.518 294.91,283.311 L296.055,284.425 C296.855,285.203 297.91,285.632 299.026,285.632 C300.186,285.632 301.271,285.174 302.08,284.343 L302.142,284.279 C308.179,288.662 315.595,291.256 323.61,291.256 C343.807,291.256 360.238,274.824 360.238,254.627 C360.238,247.608 358.25,241.047 354.813,235.47"/>
          </g>
        </svg>
      </div>
      <div class="panel">
        <h5>Nothing up our sleeve</h5>
        <p>There are no <strong>tricks</strong> or hidden <strong>bugs</strong> in the snippets, so please take them at face value. There is no need to spend ages searching for the catch.</p>
        <p>If the correct answer seems obvious, that's because it is.</p>
      </div>
    </div>  
    <div class="panel-row guess">  
      <div class="panel">
        <h5>Don't guess</h5>
        <p>If you are not sure what the code does, or there is a part you don't understand, please don't <strong>guess</strong>.
        We've done our best to use common code syntax and patterns, but we may have failed.</p>
        <p>If you don't understand the code, please let us know by selecting the <code>I don't know</code> option.</p>
      </div>
      <div class="panel panel-img">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0, 0, 64.549, 75.598">
          <g id="Layer_1" transform="translate(-414.047, -215.844)">
            <path d="M471.346,280.668 C471.174,281.484 470.588,283.383 468.885,283.383 L423.757,283.383 C422.472,283.383 421.647,282.479 421.31,280.722 L416.833,254.438 C416.888,253.147 417.955,252.115 419.259,252.115 L473.382,252.115 C474.687,252.115 475.755,253.147 475.81,254.438 z M469.665,287.513 C469.665,288.144 469.153,288.657 468.521,288.657 L424.121,288.657 C423.492,288.657 422.98,288.144 422.98,287.513 L422.98,286.098 C423.234,286.135 423.489,286.167 423.757,286.167 L468.885,286.167 C469.154,286.167 469.411,286.135 469.665,286.094 z M473.382,249.331 L419.259,249.331 C416.385,249.331 414.047,251.669 414.047,254.542 C414.047,254.621 414.054,254.699 414.067,254.776 L418.571,281.217 C418.844,282.646 419.413,283.793 420.196,284.631 L420.196,287.513 C420.196,289.679 421.957,291.441 424.121,291.441 L468.521,291.441 C470.687,291.441 472.45,289.679 472.45,287.513 L472.45,284.55 C473.213,283.709 473.787,282.58 474.079,281.189 L478.576,254.776 C478.589,254.699 478.596,254.621 478.596,254.542 C478.596,251.669 476.257,249.331 473.382,249.331"/>
            <path d="M433.045,242.3 L432.064,245.571 C431.843,246.307 432.261,247.083 432.997,247.304 C433.131,247.344 433.266,247.363 433.398,247.363 C433.997,247.363 434.549,246.974 434.731,246.371 L435.712,243.101 C435.933,242.364 435.515,241.589 434.779,241.367 C434.041,241.152 433.267,241.565 433.045,242.3"/>
            <path d="M457.863,241.367 C457.127,241.589 456.709,242.364 456.93,243.101 L457.912,246.371 C458.092,246.974 458.645,247.364 459.244,247.364 C459.377,247.364 459.511,247.344 459.645,247.304 C460.382,247.083 460.8,246.307 460.578,245.571 L459.597,242.3 C459.376,241.565 458.604,241.152 457.863,241.367"/>
            <path d="M446.324,218.628 C451.228,218.628 455.219,222.621 455.219,227.528 C455.219,232.434 451.228,236.424 446.324,236.424 C441.416,236.424 437.424,232.434 437.424,227.528 C437.424,222.621 441.416,218.628 446.324,218.628 M423.612,247.429 C423.771,247.488 423.933,247.516 424.095,247.516 C424.66,247.516 425.192,247.168 425.4,246.606 L428.023,239.493 C428.931,236.945 429.906,235.213 431.573,235.051 L437.399,235.051 C439.545,237.589 442.747,239.208 446.324,239.208 C449.898,239.208 453.099,237.588 455.244,235.05 L460.939,235.045 C462.778,235.217 463.633,237.017 464.627,239.506 L467.242,246.605 C467.449,247.168 467.982,247.516 468.548,247.516 C468.708,247.516 468.871,247.488 469.029,247.43 C469.75,247.164 470.12,246.363 469.854,245.642 L467.225,238.509 C466.234,236.024 464.875,232.618 461.069,232.267 L456.989,232.267 C457.636,230.816 458.003,229.216 458.003,227.528 C458.003,221.086 452.763,215.844 446.324,215.844 C439.881,215.844 434.639,221.086 434.639,227.528 C434.639,229.217 435.007,230.819 435.655,232.269 L431.443,232.273 C427.512,232.642 426.086,236.638 425.407,238.544 L422.789,245.642 C422.522,246.363 422.891,247.163 423.612,247.429"/>
            <path d="M447.607,276.221 C446.837,276.221 446.214,276.845 446.214,277.613 L446.214,278.399 C446.214,279.167 446.837,279.791 447.607,279.791 C448.376,279.791 448.999,279.167 448.999,278.399 L448.999,277.613 C448.999,276.845 448.376,276.221 447.607,276.221"/>
            <path d="M446.351,255.709 C444.033,255.709 442.122,256.361 440.675,257.645 C439.218,258.929 438.335,260.761 438.048,263.092 C437.955,263.856 438.497,264.55 439.26,264.644 C440.022,264.733 440.718,264.196 440.812,263.433 C441.015,261.775 441.573,260.565 442.52,259.731 C443.458,258.898 444.711,258.493 446.351,258.493 C448.096,258.493 449.423,258.931 450.41,259.833 C451.359,260.701 451.821,261.714 451.821,262.928 C451.821,263.627 451.664,264.249 451.339,264.831 C451.092,265.275 450.499,266.069 449.07,267.335 C448.091,268.203 447.511,268.79 447.195,269.23 C446.83,269.73 446.559,270.301 446.394,270.92 C446.231,271.509 446.146,272.341 446.125,273.54 C446.113,274.308 446.726,274.942 447.495,274.955 L447.518,274.955 C448.276,274.955 448.897,274.347 448.91,273.586 C448.93,272.365 449.023,271.855 449.08,271.651 C449.159,271.355 449.281,271.094 449.45,270.864 C449.556,270.715 449.888,270.329 450.915,269.418 C452.32,268.176 453.254,267.117 453.772,266.184 C454.325,265.195 454.605,264.099 454.605,262.928 C454.605,260.916 453.825,259.183 452.288,257.778 C450.787,256.405 448.789,255.709 446.351,255.709"/>
          </g>
        </svg>
      </div>
    </div>
    <p class="actions">
      <button class="button nav back" data-target="how">
        Back
      </button>
      <%= link_to new_participant_test_case_path(@participant), :class=>'button button-primary' do %>Start experiment<% end %>
    </p>
  </section>
</div>