<h1 class="brand">How readable<em>?</em></h1>
<div class="intro">
  <p class="lead">Thank you to everyone who took part in our <em>code readability</em> experiment.</p>
  <p>We are currently processing the results and will present our findings at 
    <a href="https://halfstackconf.com/london/" target="_blank" >Halfstack london</a> on Fri 22 November 2019. The full results
    will be published on this site in December.</p>
    <p><a target="_blank" href="https://vanberzon.com/readability">Read more about our research.</a></p>
  <p>If anyone has any queries or comments, or would like to get involved in the ongoing experiment, please email <a href="mailto:info@howreadable.com">info@howreadable.com</a></p>
  <p>Daniel van Berzon</p>
</div>