<h1>How readable?</h1>
<div class="intro">
  <p class="lead">Thank you to everyone who took part in the first phase of this experiment investigating <em>readable code</em></p>
  <p>I have processed the <em>results</em> and presented my initial findings on <em>Dec 6th 2018</em> at the <a href="https://asyncjs.com/readable-code/">Async meetup in Brighton</a>. The slides for the talk are available <a href="https://speakerdeck.com/dvberzon/useable-grammatical-and-readable-code" target="_blank">Here</a>.
  </p>
  <p>The results on will be posted on this site and the next phase of research will start in 2019</p>
  <p>If anyone has any queries or comments, or would like to get involved in the ongoing experiment, please email <a href="mailto:info@howreadable.com">info@howreadable.com</a></p>
  <p>Daniel van Berzon</p>
</div>