<h1 class="brand">How readable<em>?</em></h1>
<div class="intro">
  <p class="lead"><em>Readable code</em> is good code - but what makes code readable?</p>
  <p class="lead">This is your chance to help us <em>find the answer!</em></p>
  <div class="row">
    <div class="six columns">
      <p class="lead">Are you?<p>
      <div class="conditions">
        <ul>
          <li>A <em>computer programmer</em>?</li>
          <li>Familiar with <em>JavaScript?</em></li>
          <li>Free for about <em>10 minutes</em>?</li>
        </ul>
      </div>
    </div>
    <div class="six columns">
      <p class="lead">If so you can help us.<p>
      <p>We would like to show you some snippets of source code and ask you questions about them.</p>
      <p>The aim is to investigate how different coding patterns affect readability.</p>
    </div>
</div>
<p class="take-part">
  <%= link_to "I'd like to take part", start_path('js'), :class=>"button button-primary" %>
</p>
<%#  <p class="languages">
  <%# Experiment.languages.each do |id, name| %#>
    <%= link_to start_path(id), :class=>"button" do %#>
      <%= image_tag("#{id}.svg", ) %#> <%= name %#>
    <% end %#>
  <% end %#>
  </p>
%>
</div>