<h1>How readable?</h1>
<div class="intro">
  <p class="lead">We need your help with an investigation into <em>readable code</em></p>
  <p>Are you?<p>
  <ul>
    <li>A <em>computer programmer</em>?</li>
    <li>Familiar with javascript?</li>
    <li>Free for about <em>10 minutes</em>?</li>
  </ul>
  <p>If so, we would like to show you some snippets of source code and ask you questions about them.</p>
  <p>The aim is to investigate how different coding patterns affect readability.</p>
<%#  <p class="languages">
  <%# Experiment.languages.each do |id, name| %#>
    <%= link_to start_path(id), :class=>"button" do %#>
      <%= image_tag("#{id}.svg", ) %#> <%= name %#>
    <% end %#>
  <% end %#>
  </p>
%>
  <p class="take-part">
    <%= link_to "I'd like to take part", start_path('js'), :class=>"button button-primary" %>
  </p>
</div>