<h1>How readable?</h1>
<div class="intro">
  <p class="lead">We need your help with an investigation into <em>readable code</em></p>
  <p>If you are a <em>computer programmer</em> with about <em>10 minutes</em> to spare, we would like to show you some snippets of source code and ask you questions about them. We are interested in how code syntax, structure and style affect readability.</p>
  <p>If you are willing to take part, please select a programming language from the list below. We will be showing you code snippets in this language, so it should be to one with which you are most familiar.</p>
  <p class="languages">
  <% Experiment.languages.each do |id, name| %>
    <%= link_to start_path(id), :class=>"button" do %>
      <%= image_tag("#{id}.svg", ) %> <%= name %>
    <% end %>
  <% end %>
  </p>
</div>