<h1 class="brand">How readable<em>?</em></h1>
<div class="intro">
  <p class="lead">We all want to write <em>Readable code</em>, but what makes code readable?
  This is your chance to take part in our experiment to <em>find the answer!</em></p>
  <hr />
  <div class="row">
    <div class="six columns">
      <p>Are you?<p>
      <div class="conditions">
        <ul>
          <li>A <em>computer programmer</em>?</li>
          <li>Familiar with <em>JavaScript</em>?</li>
          <li>Free for about <em>10 minutes</em>?</li>
        </ul>
      </div>
      
    </div>
    <div class="six columns">
      <p>If so, you can help us by taking part in our experiment. We will ask you to read some code snippets and answer questions about them.</p>
      <p>The aim is to investigate how different code constructs affect readability.</p>
    </div>
</div>
<p class="take-part">
  <%= link_to "I'd like to take part", start_path('js'), :class=>"button button-primary" %>
</p>
<hr />
<%#  <p class="languages">
  <%# Experiment.languages.each do |id, name| %#>
    <%= link_to start_path(id), :class=>"button" do %#>
      <%= image_tag("#{id}.svg", ) %#> <%= name %#>
    <% end %#>
  <% end %#>
  </p>
%>
</div>
<p></p>
<p>
  This is the second version of the <strong>howreadable</strong> experiment.
  Thank you to everyone involved in the previous version; if you are willing to participate again we would be very grateful.
</p>
<p>
  We will publish our findings on this site at the end of the experiment.
  <a target="_blank" href="https://vanberzon.com/readability">Read more about our research.</a>
</p>