<h1 class="brand">How readable<em>?</em></h1>
<div class="intro">
  <p class="lead">We all want to write <em>Readable code</em>, but what makes code readable?</p>
  <p class="lead">This is your chance to take part in our experiment to <em>find the answer!</em></p>
  <div class="row">
    <div class="six columns">
      <p>Are you?<p>
      <div class="conditions">
        <ul>
          <li>A <em>computer programmer</em>?</li>
          <li>Familiar with <em>JavaScript</em>?</li>
          <li>Free for about <em>10 minutes</em>?</li>
        </ul>
      </div>
      <p>If so you can help us.<p>
    </div>
    <div class="six columns">
      <p>We would like to show you some code snippets and ask you questions about them.</p>
      <p>Your answers will help us investigate how different code constructs affect readability.</p>
      <p>At the end of the experiment, we will publish our findings on this site .</p>
    </div>
</div>
<p class="take-part">
  <%= link_to "I'd like to take part", start_path('js'), :class=>"button button-primary" %>
</p>
<div class="bookmark"><a target="_blank" href="https://vanberzon.com/readability">Read more about our research</a></div>
<%#  <p class="languages">
  <%# Experiment.languages.each do |id, name| %#>
    <%= link_to start_path(id), :class=>"button" do %#>
      <%= image_tag("#{id}.svg", ) %#> <%= name %#>
    <% end %#>
  <% end %#>
  </p>
%>
</div>