<div class="watchthispace">
  <h1>How readable<em>?</em></h1>
  <div class="hero">
    <p>Watch this space for our online code readability experiment.</p>
    <p>Coming <strong>October 2018</strong></p>
    <p>For more information contact <a href="mailto:daniel@vanberzon.com">daniel@vanberzon.com</a></p>
  </div>
</div>