<h1>How readable?</h1>
<p>Thank you for taking part.</p>
<p>The more programmers take part in this experiment, the better our results will be, so please forward this site to anyone you think may be interested</p>


<p><div class="sharethis-inline-share-buttons"></div></p>
