<% number = @response.index + 1 %>
<div class="progress-wheel">
  <svg class="progress progress-<%= number %>" version="1.1" x="0" y="0" viewBox="0, 0, 129.173, 129.544">
    <g id="Layer_1" transform="translate(-492.827, -493.456)">
      <path d="M520.798,580.812 L521.576,581.995 L521.85,582.386 C524.16,585.68 526.752,588.753 529.887,591.307 C537.915,597.268 544.726,600.585 554.895,601.256 L556.308,601.337 L556.308,601.337 L556.308,601.337 L556.308,623 L554.747,622.936 C548.632,622.499 552.106,622.868 544.353,621.595 C530.983,619.399 518.095,611.459 509.259,601.352 C504.24,595.238 506.311,598.076 502.855,592.982 L502.017,591.662 L502.017,591.662 L520.798,580.812 z" />
      <path d="M556.308,493.456 L556.308,515.119 L554.894,515.2 C541.446,515.976 528.984,523.176 521.556,534.461 L520.778,535.644 L502.017,524.794 L502.854,523.474 C514.215,505.577 533.614,494.379 554.747,493.52 L556.308,493.456 z M553.308,496.601 C534.284,497.86 516.887,507.903 506.242,523.772 L519.848,531.641 C527.598,520.628 539.93,513.504 553.308,512.309 L553.308,496.601 z" />
      <path d="M500.894,526.711 L519.679,537.564 L519.038,538.829 C516.065,544.709 514.494,551.356 514.494,558.052 C514.494,564.815 516.029,571.289 519.057,577.294 L519.696,578.559 L500.915,589.408 L500.189,588.027 C495.372,578.87 492.827,568.505 492.827,558.052 C492.827,547.626 495.366,537.267 500.169,528.096 L500.894,526.711 z M502.119,530.883 C497.998,539.275 495.827,548.634 495.827,558.052 C495.827,567.494 498.004,576.859 502.135,585.239 L515.759,577.369 C512.928,571.303 511.494,564.812 511.494,558.052 C511.494,551.369 512.959,544.727 515.741,538.753 L502.119,530.883 z" />
      <path d="M594.03,580.813 L612.811,591.662 L611.973,592.982 C600.611,610.879 581.211,622.077 560.079,622.936 L558.518,623 L558.518,601.337 L559.932,601.256 C573.369,600.481 585.825,593.28 593.252,581.995 L594.03,580.813 z M594.961,584.815 C587.211,595.828 574.886,602.953 561.518,604.147 L561.518,619.855 C580.54,618.597 597.938,608.552 608.585,592.685 L594.961,584.815 z" />
      <path d="M613.913,527.047 L614.639,528.428 C619.455,537.589 622,547.948 622,558.387 C622,568.837 619.455,579.202 614.639,588.361 L613.913,589.743 L595.132,578.893 L595.771,577.628 C598.798,571.627 600.333,565.153 600.333,558.387 C600.333,551.63 598.803,545.155 595.786,539.142 L595.152,537.878 L613.913,527.047 z M612.694,531.215 L599.084,539.072 C601.904,545.143 603.333,551.634 603.333,558.387 C603.333,565.15 601.899,571.641 599.069,577.703 L612.693,585.573 C616.823,577.191 619,567.826 619,558.387 C619,548.817 616.879,539.683 612.694,531.215 z" />
      <path d="M558.518,493.789 L560.079,493.853 C581.211,494.713 600.611,505.911 611.973,523.807 L612.811,525.128 L594.048,535.977 L593.269,534.794 C585.844,523.51 573.382,516.31 559.932,515.534 L558.518,515.453 L558.518,493.789 z M561.518,496.935 L561.518,512.643 C574.897,513.838 587.23,520.961 594.978,531.974 L608.585,524.105 C597.939,508.237 580.541,498.194 561.518,496.935 z" />

      <path d="M561.518,496.935 L561.518,512.643 C574.897,513.838 587.23,520.962 594.978,531.974 L608.585,524.106 C597.939,508.237 580.541,498.194 561.518,496.935 z" class="seg seg1"/>  
      <path d="M612.694,531.215 L599.084,539.072 C601.904,545.143 603.333,551.634 603.333,558.387 C603.333,565.15 601.899,571.641 599.069,577.703 L612.693,585.573 C616.823,577.191 619,567.826 619,558.387 C619,548.817 616.879,539.683 612.694,531.215 z" class="seg seg2"/>
      <path d="M594.961,584.815 C587.211,595.828 574.886,602.953 561.518,604.147 L561.518,619.855 C580.54,618.597 597.938,608.552 608.585,592.685 L594.961,584.815 z" class="seg seg3"/>
      <path d="M519.867,584.482 L506.243,592.352 C512.429,601.021 520.092,608.29 529.703,613.073 C536.519,616.038 542.232,618.392 549.761,619.183 L553.308,619.522 L553.308,603.814 C539.898,602.237 527.716,595.638 519.867,584.482 z" class="seg seg4"/>
      <path d="M502.119,530.883 C497.998,539.275 495.827,548.634 495.827,558.052 C495.827,567.494 498.004,576.859 502.135,585.239 L515.759,577.369 C512.928,571.303 511.494,564.812 511.494,558.052 C511.494,551.369 512.959,544.727 515.741,538.753 L502.119,530.883 z" class="seg seg5"/>
      <path d="M553.308,496.601 C534.284,497.86 516.887,507.903 506.242,523.772 L519.848,531.641 C527.598,520.628 539.93,513.504 553.308,512.309 L553.308,496.601 z" class="seg seg6"/>
    </g>
  </svg>
  <div class="number">
    <span><%= number %><span>
  </div>
</div>