<p>Look at the following code</p>
<pre><code class="<%= @response.snippet.lang_name %>"><%#    
  %><%= @response.snippet.text %><%#
%></code></pre>
<p class="question-text"><%= @response.test_case_obj.question.html_safe %></p>
