<h4>How readable?</h4>
<div id="response-form">
  <% percent = response_progress_percent %>
  <div class="progress-bar">
    <div class="progress" style="width:<%= percent %>"><%= percent %></div>
  </div>
  <%= render 'form', response: @response, participant: @participant %>
</div>
