<%= render 'progress' %>
<%#<h3><%= random_thanks %#></h3> %>
<section class="content">
<h4>Are you ready for your next snippet?*</h4>
</section>
<p class="actions"><%= link_to 'Show next snippet', edit_participant_response_path(@participant, @response.next), :class=>'button button-primary' %><p>
<div class="bookmark">*If not, you can bookmark this page and continue later.</div>