<%= render 'progress' %>
<h3><%= random_thanks %></h3>
<h5>Are you ready for the next snippet?</h5>
<p class="highlight">You can bookmark this page and continue at a later date.</p>
<p class="actions"><%= link_to 'Show next snippet', edit_participant_response_path(@participant, @response.next), :class=>'button button-primary' %><p>