<%= render 'progress' %>
<h4>How readable?</h4>
<div id="response-form">
  <p>Thank you for your answer</p>
  <%= link_to 'Next', edit_participant_response_path(@participant, @response.next), :class=>'button primary' %>
  <p>If you like, you can bookmark this page and carry on when you have more time</p>
</div>