<h4>How readable?</h4>
<p><%= @participant_test_case.test_case.intro %></p>
<p>In this experiment we will show you a series of <%= @participant_test_case.responses.length %> code snippets</p>
<p class="text-right">
  <%= link_to  edit_participant_response_path(@participant, @participant_test_case.responses.first), class: 'button button-primary' do %>Start<% end %>
</p>