<p><%= @participant_test_case.inspect %></p>
<p><%= @participant_test_case.responses.inspect %></p>
<p><%= link_to  edit_participant_response_path(@participant, @participant_test_case.responses.first) do %>GO<% end %></p>