// Place all the styles related to the participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#participant {
/*  div#contact {
    display: none;
    &.show {
      display: block;
    }
  }
*/
  @media only screen and (max-width: 550px) {
    .field {
      .text-right {
        text-align: left;
      }
    }
  }
}

div.instructions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div.panel {
    box-sizing: border-box;
    width: 49%;
    @media only screen and (max-width: 900px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  hr {
    width: 100%;
  }
  h4 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
  }
  div.panel-grey {
    padding: 15px;
    border-radius: 10px;
    background-color: #eee;
  }
  div.panel-img {
    text-align: center;
    display: flex;
    img {
      margin: auto;
      height: 180px;
    }
  }
  ul.answer-list {
    width: 100%;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      code {
        padding: 10px;
        font-size: 20px;
      }
      padding: 10px 30px;
    }
  }
}