// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#response-form {
  .progress-bar {
    width: 100%;
    border: solid 1px #bbb;
    border-radius: 5px;
    .progress {
      background-color: #bbb;
      text-align: center;
      line-height: 20px;
      font-size: 14px;
      color: white;
    }
  }
}

div#response {
  margin-top: 40px;
  div.question {
    display: block;
    pre {
      code {
        padding: 15px 30px;
        font-size: 20px;
        line-height: 28px;
        font-family: Inconsolata, courier, monospace;
        @media only screen and (max-width: 970px) {
          font-size: 16px;
          padding: 20px;
        }
      }
    }
    @media only screen and (max-width: 700px) {
      pre {
        margin: 0 -40px 2.5rem;
      }
    }
  }
  div.answer-form {
    display: none;
  }
  &.answer-mode {
    div.question {
      display: none;
    }
    div.answer-form {
      display: block;
      .field {
        margin: 30px 0 10px;
      }
      .answer-options{
        text-align: center;
        label {
          font-family: Inconsolata, courier, monospace;
          font-size: 18px;
          text-transform: none;
          margin: 5px 20px;
          @media only screen and (max-width: 780px) {
            margin: 5px 0;
            font-size: 16px;
            padding: 0 20px;
          }
        }
      }
      ul.lickert {
        text-align: center;
        margin-top: 10px;
        li {
          display: inline-block;
          vertical-align: top;
          padding: 0 5px;
          line-height: 60px;
          label {
            color: #888;
            padding: 0 10px;
            font-size: 40px;
            line-height: 60px;
            height: 60px;
            &:hover {
              color: #666;
            }
          }
          @media only screen and (max-width: 780px) {
            font-size: 12px;
            padding: 0 2px;
            label {
              font-size: 30px;
              line-height: 40px;
              height: 40px;
              padding: 0 2px;
            }
          }
          @media only screen and (max-width: 460px) {
            &.label {
              display: none;
            }
            padding: 0px;
          }
        }
        

      }
      
    }
  }
}

div.progress-wheel {
  position: absolute;
  padding: 0 8px;
  top: 24px;
  right: 16px;
  background-color: white;
  width: 70px;
  float: right;
  fill: #1EAEDB;
  div.number {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 0;
    right: 0;
    font-size: 30px;
    line-height: 30px;
    vertical-align: baseline;
  }
  .seg {
    fill: #fff;
  }
  .progress-1 {
    .seg1 {
      fill: #1EAEDB;
    }
  }
  
  .progress-2 {
    .seg1, .seg2 {
      fill: #1EAEDB;
    }
  }
  
  .progress-3 {
    .seg1, .seg2, .seg3 {
      fill: #1EAEDB;
    }
  }
  
  .progress-4 {
    .seg1, .seg2, .seg3, .seg4 {
      fill: #1EAEDB;
    }
  }
  .progress-5 {
    .seg1, .seg2, .seg3, .seg4, .seg5 {
      fill: #1EAEDB;
    }
  }
  .progress-6 {
    .seg {
      fill: #1EAEDB;
    }
  }
  
}