// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#response-form {
  .progress-bar {
    width: 100%;
    border: solid 1px #bbb;
    border-radius: 5px;
    .progress {
      background-color: #bbb;
      text-align: center;
      line-height: 20px;
      font-size: 14px;
      color: white;
    }
  }
}

div#response {
  margin-top: 40px;
  div.question {
    display: block;
    code {
      padding: 15px 50px;
      font-size: 20px;
      line-height: 28px;
      font-family: Inconsolata, courier, monospace;
    }
  }
  div.answer-form {
    display: none;
  }
  &.answer-mode {
    div.question {
      display: none;
    }
    div.answer-form {
      display: block;
      .answer-options{
        label {
          font-size: 18px;
          text-transform: none;
        }
      }
      ul.lickert {
        li {
          display: inline-block;
          label {
            padding: 0 10px;
          }
        }
      }
      
      .actions{
        text-align: right;
        .back {
          float: left;
        }
      }
    }
  }

}
