html {
  height: 100%;
  background-image: image-url('bg-2048.jpg');
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  height: 100%;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto
}


div.container {
  margin: 40px auto;
  border-radius: 30px;
  background-color: white;
  padding: 30px 50px;
  @media only screen and (max-width: 700px) {
    width: 90%;
  }
}
/*
div.container.home {
  margin: 10% auto 40px;
}
*/
div.option-buttons {
  input[type='radio'] {
    display: none;
  }
  input[type='radio']:checked + label {
    background-color: #888;
    color: white;
  }
}

div.footer {
  flex-shrink: 0;
  text-align: right;
  color: white;
  font-weight: 600;
  padding: 10px;
  a {
    color: #ccf;
  }
}

.text-right {
  text-align: right;
}

p.share-link {
  font-size: 20px;
  text-align: center;
  background-color: #eee; 
  padding: 10px;
  border-radius: 5px;
}